body,
html {
   margin: 0;
   height: 100%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: white;
   /* color:  #333; cor das fontes */
}

header {
   background-color: #ddd;
   top: 0;
   position: fixed;
   width: 100%;

}